{% extends 'Admin-Dashboard.html' %}
{% block main %}

<!-- MAIN -->
 <main>
    
         
             <div class="hed">
                 <h3>Customer Bills</h3>
             </div>
             <table>
                 <thead>
                     <tr>
                        <th>ID</th>
                         <th>Name</th>
                         <th>Date</th>
                         <th>Items</th>
                         <th>Action</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr>
                        <td>01</td>
                         <td><p>sonali sakhare</p></td>
                         <td>17/2/2024</td>
                         <td>Panner, Biryai, Chicken</td>

                         <td>
                            <button class="view-btn" >View</button>
                            <button class="delete-btn">Delete</button>
                        </td>
                     </tr>
                 </tbody>
                 <tbody>
                     <tr>
                        <td>01</td>
                        <td><p>sonali sakhare</p></td>
                        <td>17/2/2024</td>
                        <td>Panner, Biryai, Chicken</td>

                        <td>
                           <button class="view-btn" >View</button>
                           <button class="delete-btn">Delete</button>
                       </td>
                     </tr>
                 </tbody>
                 <tbody>
                     <tr>
                        <td>01</td>
                        <td><p>sonali sakhare</p></td>
                        <td>17/2/2024</td>
                        <td>Panner, Biryai, Chicken</td>

                        <td>
                           <button class="view-btn" >View</button>
                           <button class="delete-btn">Delete</button>
                       </td>
                     </tr>
                 </tbody>
             </table>
         </div>
     </div>
 </main>
 <!-- MAIN -->
</section>
<!-- CONTENT -->


{% endblock main %}