<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 form">
                <form method="POST" autocomplete="off">
                    <h2 class="text-center">Forgot Password</h2>
                    <p class="text-center">Enter your email address</p>
                    <!-- Example of error message display if needed -->
                    <div class="alert alert-danger text-center d-none" id="error-alert">
                        <!-- Error messages will be shown here if JavaScript is used for error handling -->
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Enter email address" required>
                    </div>
                    <p class="text-center">Enter your new password</p>
                    <!-- Example of error message display if needed -->
                    <div class="alert alert-danger text-center d-none" id="error-alert">
                        <!-- Error messages will be shown here if JavaScript is used for error handling -->
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Enter new password" required>
                    </div>

                    <div class="form-group">
                        <input class="form-control button btn btn-primary" type="submit" name="check-email" value="Continue">
                    </div>
                    <div class="link login-link text-center">
                        <a href="{{ url_for('login') }}">Login here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

   
</body>
</html>
